
/*
font-family: 'Birthstone', cursive;
font-family: 'Roboto Condensed', sans-serif;

*/


h1{text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width:650px;
    color:white;
    font-family: 'Birthstone', cursive;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(151,157,188,1) 28%, rgba(156,155,186,1) 47%, rgba(0,212,255,1) 100%);
}

.principal{color:blue}

p{
text-align: center;
column-count: 2;
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(151,157,188,1) 28%, rgba(156,155,186,1) 47%, rgba(0,212,255,1) 100%);
color: white;
border-radius: 15px;
padding: 10px;
font-family: 'Roboto Condensed', sans-serif;

}

.icono{font-size: 20px;
color: blue;}


.imagenes{
    text-align: center;

}


.conocimientos{color:red}

OL{column-count: 2;
    background-color: cornflowerblue;
 text-align: center;
width: 450px;
height: 100px;
padding-left: 40px;
padding-top: 25px;
margin-left: 100px;
box-shadow: 0 0 15px black;
border-radius: 15px;
font-family: 'Roboto Condensed', sans-serif;
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(151,157,188,1) 28%, rgba(156,155,186,1) 47%, rgba(0,212,255,1) 100%);
}